.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  width: 100%;
  z-index: 999;
  background-color: white;
}

.header__left {
  display: flex;
}

.header__left > img {
  object-fit: contain;
  height: 50px;
  margin-right: 10px;
  margin-top: -2px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: gray;
  background-color: #eef3f8;
  height: 25px;
  width: 300px;
}

.header__search > ::placeholder {
  font-size: 15px;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
}

.header__right {
  display: flex;
}

@media (max-width: 820px) {
  .header__search {
    display: none;
  }

  .header__left > img {
    margin-top: -10px;
  }
}
